<h1 class="text-center">How to Use this Site.</h1>
<h2 class="text-red text-center">Please read this carefully.  It is super important.</h2>
<div class="col-lg-6">
	<h3><ul>Submit Update</ul></h3>
	<h4>
	 <ul>An update permanently changes the recipe.</ul>
	 <ul>You should update the recipe after you have tried it.</ul>  
	 <ul>Write the recipe with one small change that you would use the next time you make the recipe.</ul>  
	 <ul>The next person will only see the new version of the recipe.</ul> <ul>They will then make the recipe and make a small change to improve the recipe.</ul>  
	 <ul>This will happen for a set time and then the recipe will be set and included in the archives.</ul>
	 <ul>A new recipe will be posted at this point.</ul>
	</h4>
</div>
<div class="col-lg-6">
	<h3><ul>Submit Suggestions</ul></h3>
	<br/><br/>
	<h4>
	 <ul>Add a suggestion after you have made the recipe.</ul>
	 <ul>You should use this when you think there are variations of the recipe that would be good.</ul>  
	 <ul>This is for things that some people would like, but not all.</ul>  
	 <ul>Do not use this for things that should be changed for the recipe to be better.</ul> 
	</h4>
</div>
