body {
	padding-top: 70px;
	background-color: #C6CBCC;
}

.navbar {
	background-color: #46CDE8;
	padding-top: 10px;
}

.navbar-btn {
	margin-left: 10px;
}

.text-center {
	text-align: center;
}

.text-red {
	color: red;
}