body {
  padding-top: 70px;
  background-color: #C6CBCC;
}

.clear {
  clear: both;
}

.navbar {
  background-color: #46CDE8;
  padding-top: 10px;
}

.navbar-btn {
  margin-left: 10px;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.background-box {
  width: 400px;
  padding: 20px;
  border: 5px solid gray;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
