.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 400px;
    width: 60%;
    margin: 0px auto;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.slide {
	background-color: black;
}
